<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DatosWebApiURL" value="http://localhost/r3.orquestador.datoswebapi/api" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CarpetaTrabajoFtp" value="d:\\temp\\Ftp\\" />-->
    <!-- SMS -->
    <add key="SmsUrl" value="http://Smpp2.telecoc" />
    <add key="SmsUrlAlternativo" value="http://Smpp.te" />
    <add key="SmsUsuario" value="" />
    <add key="SmsClave" value="" />
  </appSettings>
</configuration>
